.footer {
  margin-top: 20px;
  padding-bottom: 30px;
  @media screen and (min-width: 992px) {
    padding-bottom: 0;
  }
  &__container {
  }
  &__logos {
    @media screen and (min-width: 768px) {
      padding: 0 5%;
    }
    @media screen and (min-width: 992px) {
      padding: 0 15%;
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
    }
  }
  &__logosx2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
    }
    @media screen and (min-width: 992px) {
      width: 100%;
    }
  }
  &__logo {
    width: 70px;
    height: 80px;
    object-fit: cover;
    @media screen and (min-width: 768px) {
      width: 90px;
      height: 110px;
    }
    &--large {
      min-width: 210px;
      @media screen and (min-width: 768px) {
        min-width: 300px;
      }
    }
  }
  &__text {
    line-height: 1.5;
  }
  &__bottom__container {
    margin-top: 20px;
    background-color: #28242c;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;
    @media screen and (min-width: 768px) {
      padding: 30px;
    }
    @media screen and (min-width: 992px) {
      flex-direction: row;
      justify-content: space-around;
      padding: 30px 15%;
    }
  }
  &__link {
    margin-bottom: 20px;
    @media screen and (min-width: 992px) {
      margin-bottom: 0;
    }
  }
  &__img {
    width: 60%;
    max-width: 350px;
    object-fit: contain;
    height: 45px;
    margin-top: 20px;
    &__container {
      padding-left: 20px;
      a {
        padding-bottom: 20px;
      }
      @media screen and (min-width: 768px) {
        padding-left: 30px;
      }
      @media screen and (min-width: 992px) {
        padding: 0 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
.responsive-break {
  @media screen and (min-width: 992px) {
    display: none;
  }
}
