@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: unset;
}
a:hover {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  all: unset;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

/* Pour tous les navigateurs supportant ::placeholder */
.home ::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: 16px;
}
.home ::placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: 16px;
}

/* Spécifique pour Internet Explorer 10+ */
.home :-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: 16px;
}

/* Spécifique pour Microsoft Edge */
.home ::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  font-size: 16px;
}

.bold__item {
  font-weight: bold;
}

p {
  line-height: 1.2;
}
@media screen and (min-width: 992px) {
  p {
    font-size: 18px;
  }
}

.header {
  padding: 20px 0px 0px 20px;
}
@media screen and (min-width: 992px) {
  .header {
    padding: 20px 0;
  }
}

.menu__logo {
  display: inline-block;
  width: 60%;
}
@media screen and (min-width: 992px) {
  .menu__logo {
    width: 20%;
  }
}
.menu__logo--img {
  width: 100%;
  max-width: 350px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 10;
}
@media screen and (min-width: 992px) {
  .menu__btn {
    display: none;
  }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #f46d21;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -12px;
}

.menu__btn > span::after {
  content: "";
  top: 12px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  color: white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(55, 69, 113);
  transition-duration: 0.25s;
  z-index: 5;
}
@media screen and (min-width: 992px) {
  .menu__box {
    visibility: visible;
    left: 0;
    background-color: #ffffff;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    position: unset;
    box-shadow: none;
  }
}

@media screen and (min-width: 992px) {
  .nav {
    display: flex;
    justify-content: space-around;
    padding: 0 0 20px 0;
  }
}

@media screen and (min-width: 992px) {
  .hamburger-menu {
    display: flex;
    justify-content: center;
    width: 42%;
  }
}

.menu__item {
  display: block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
  color: white;
}
@media screen and (min-width: 992px) {
  .menu__item {
    color: black;
  }
  .menu__item:not(.menu__item--contact):hover {
    color: #217bf4;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    transition: all ease-in 300ms;
  }
}
.menu__item--contact {
  background-color: #f46d21;
  border-radius: 8px;
}
@media screen and (min-width: 992px) {
  .menu__item--contact {
    background-color: #f46d21;
    color: #ffffff;
    padding: 5px 30px;
    font-weight: 500;
    border-radius: 5px;
  }
  .menu__item--contact:hover {
    filter: brightness(110%);
    transition: all ease-in 300ms;
  }
}

.form__container {
  position: absolute;
  top: 57%;
  left: 47%;
}
@media screen and (min-width: 992px) {
  .form__container {
    top: auto;
    left: auto;
    top: 3vh;
    right: 15%;
  }
}

.banner {
  height: 650px;
  width: calc(100% + 20px);
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -20px;
  margin-right: -20px;
}
@media screen and (min-width: 992px) {
  .banner {
    filter: brightness(60%);
    width: 100%;
    color: black;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
    height: 75vh;
  }
}
@media screen and (min-width: 992px) {
  .banner__container {
    width: 100%;
  }
}
.banner__form {
  min-width: 330px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(57, 68, 114, 0.85);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 0;
  border: #ffffff solid 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .banner__form {
    position: relative;
    width: 60%;
    left: 4%;
  }
}
@media screen and (min-width: 992px) {
  .banner__form {
    transform: none;
  }
}
.banner__form__h1 {
  color: #217bf4;
  padding: 0 40px 20px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  width: 80%;
  min-width: 350px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .banner__form__h1 {
    text-align: center;
    padding: 20px 0;
  }
}
@media screen and (min-width: 992px) {
  .banner__form__h1 {
    position: absolute;
    left: 0;
    top: 30%;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    width: 55%;
    padding-left: 10%;
    color: #ffffff;
    z-index: 5;
    text-shadow: 1px 0px 1px #217bf4;
  }
}
.banner__form__input {
  cursor: pointer;
  margin-bottom: 15px;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 10px;
  color: #ffffff;
  width: 100%;
}
.banner__form__input:focus {
  box-shadow: 0 0 2pt 1pt #d3d3d3;
  outline-width: 0px;
}
.banner__form__input--submit {
  background-color: #f46d21;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin: 30px 0;
  padding: 10px;
}
.banner__form__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .banner__form__title {
    font-size: 22px;
    font-weight: 600;
  }
}
.banner__form__section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__form label {
  width: 90%;
}

.menu__item.active {
  text-decoration: underline;
}

.cta {
  background-color: #f46d21;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  color: #ffffff;
  margin-top: 30px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}
.cta:hover {
  box-shadow: 0px 0px 5px #217bf4;
  filter: brightness(110%);
  font-weight: 600;
  transition: all ease-out 300ms;
}

.carousel {
  margin: 50px 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .carousel {
    margin: 100px 0;
  }
}
@media screen and (min-width: 992px) {
  .carousel {
    display: flex;
    justify-content: center;
  }
}
.carousel__slides {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .carousel__slides {
    justify-content: space-between;
    width: 70%;
  }
}
.carousel__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  font-size: 20px;
  color: #217bf4;
  flex: 0 0 100%;
}
@media screen and (min-width: 992px) {
  .carousel__slide {
    flex: 0 0 30.333%;
  }
}
.carousel__slide__text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .carousel__slide__text {
    font-size: 18px;
  }
}
.carousel__slide__icon {
  color: #f46d21;
}
.carousel__slide__icon__background {
  background-color: #f5f5f5;
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
@media screen and (min-width: 992px) {
  .carousel__slide__icon__background {
    width: 160px;
    height: 160px;
  }
}
.carousel__control {
  background: none;
  color: #f46d21;
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.carousel__control--prev {
  left: 10%;
}
@media screen and (min-width: 768px) {
  .carousel__control--prev {
    left: 25%;
  }
}
@media screen and (min-width: 992px) {
  .carousel__control--prev {
    left: 10%;
  }
}
.carousel__control--next {
  right: 10%;
}
@media screen and (min-width: 768px) {
  .carousel__control--next {
    right: 25%;
  }
}
@media screen and (min-width: 992px) {
  .carousel__control--next {
    right: 10%;
  }
}

.active-slide {
  display: flex;
}

.inactive-slide {
  display: none;
}

@media screen and (min-width: 992px) {
  .carousel__slide__icon {
    font-size: 3em !important;
  }
}

.collapse {
  margin: 50px 0;
  padding: 0 20px;
}
@media screen and (min-width: 991px) {
  .collapse {
    padding: 0 15%;
  }
}
.collapse__item {
  border: rgb(244, 243, 243) solid;
  box-shadow: 0 0 1px rgb(220, 219, 219);
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding: 0 20px;
}
.collapse__btn {
  background: none;
  border: none;
  color: #217bf4;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collapse__btn:hover, .collapse__btn:focus {
  cursor: pointer;
  outline: none;
}
.collapse__icon {
  transition: transform 0.3s ease-in-out;
  color: #f46d21;
}
.collapse__content {
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}
.collapse__inner p {
  padding-bottom: 20px;
  line-height: 1.4;
}

.footer {
  margin-top: 20px;
  padding-bottom: 30px;
}
@media screen and (min-width: 992px) {
  .footer {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__logos {
    padding: 0 5%;
  }
}
@media screen and (min-width: 992px) {
  .footer__logos {
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }
}
.footer__logosx2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer__logosx2 {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 992px) {
  .footer__logosx2 {
    width: 100%;
  }
}
.footer__logo {
  width: 70px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 90px;
    height: 110px;
  }
}
.footer__logo--large {
  min-width: 210px;
}
@media screen and (min-width: 768px) {
  .footer__logo--large {
    min-width: 300px;
  }
}
.footer__text {
  line-height: 1.5;
}
.footer__bottom__container {
  margin-top: 20px;
  background-color: #28242c;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .footer__bottom__container {
    padding: 30px;
  }
}
@media screen and (min-width: 992px) {
  .footer__bottom__container {
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 15%;
  }
}
.footer__link {
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .footer__link {
    margin-bottom: 0;
  }
}
.footer__img {
  width: 60%;
  max-width: 350px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 50px;
  margin-top: 20px;
}
.footer__img__container {
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .footer__img__container {
    padding-left: 30px;
  }
}
@media screen and (min-width: 992px) {
  .footer__img__container {
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .responsive-break {
    display: none;
  }
}

#backToTopBtn {
  display: none; /* Ajouté ici pour le cacher initialement */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1000;
  padding: 10px 15px;
  background-color: #f46d21;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.7;
  transition: opacity 0.4s;
}

#backToTopBtn:focus {
  opacity: 1;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

#backToTopBtn:active {
  opacity: 1;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

#backToTopBtn:hover {
  opacity: 1;
}

.main {
  background-color: rgb(255, 254, 253);
}

.comprendre {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .comprendre {
    margin-top: 20px;
  }
}
@media screen and (min-width: 992px) {
  .comprendre {
    margin-top: 0;
    padding: 0 15%;
    padding-top: 30px;
  }
}
.comprendre__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #217bf4;
}
@media screen and (min-width: 992px) {
  .comprendre__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.comprendre__content {
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .comprendre__content {
    width: 80%;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 992px) {
  .comprendre__content {
    margin-bottom: 0px;
    line-height: 1.1;
  }
}
.comprendre__content__and__image__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .comprendre__content__and__image__container {
    display: flex;
    flex-direction: row;
  }
}
.comprendre__content__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .comprendre__content__container {
    align-items: flex-start;
  }
}
.comprendre__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 992px) {
  .comprendre__image {
    width: 300px;
    height: 300px;
  }
}
.comprendre__image__container {
  width: 60%;
}
@media screen and (min-width: 768px) {
  .comprendre__image__container {
    margin-top: 80px;
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .comprendre__image__container {
    margin-top: 0;
    width: 50%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  min-width: 300px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border: rgb(245, 240, 240) 3px solid;
  box-shadow: 0px 0px 5px rgb(240, 230, 230);
  border-radius: 8px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .card {
    width: 30%;
    max-width: 30%;
    min-width: 231px;
    height: 200px;
    justify-content: space-around;
    padding: 2%;
  }
}
.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
@media screen and (min-width: 992px) {
  .card__container {
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 0;
  }
}
.card__title {
  font-size: 25px;
  font-weight: bold;
  color: #217bf4;
  text-align: center;
  margin-bottom: 20px;
}
.card__content {
  text-align: center;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .card__content {
    text-align: center;
  }
}

.publics__title {
  font-size: 18px;
  font-weight: bold;
  color: #217bf4;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}
@media screen and (min-width: 992px) {
  .publics__title {
    font-size: 24px;
  }
}

.underline {
  position: absolute;
  bottom: -8px;
  left: 39%;
  height: 3px;
  width: 25%;
  background-color: #217bf4;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .underline {
    width: 13%;
    left: 44%;
  }
}
@media screen and (min-width: 992px) {
  .underline {
    bottom: -15px;
    left: 44.5%;
    width: 140px;
    height: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .underline {
    left: 45.5%;
  }
}
@media screen and (min-width: 1400px) {
  .underline {
    left: 46%;
  }
}
@media screen and (min-width: 1600px) {
  .underline {
    left: 46.5%;
  }
}

.cta-section {
  margin-top: 50px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .cta-section {
    margin-top: 100px;
  }
}
.cta-section__banner {
  width: 100%;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(55%);
}
.cta-section__container {
  position: absolute;
  color: white;
  top: 55px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .cta-section__container {
    top: 80px;
    left: 10%;
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .cta-section__container {
    top: 50px;
    left: 25%;
    width: 50%;
  }
}
.cta-section__container__title {
  font-weight: 500;
  font-size: 18px;
}
.cta-section__container__text {
  font-weight: 500;
  text-shadow: 1px 1px 3px #181818;
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  .cta-section__container__title {
    font-size: 22px;
  }
  .cta-section__container__text {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .cta-section__btn {
    margin-top: 50px;
  }
}

.nav {
  padding-left: 20px;
}

.contact__header {
  padding-top: 20px;
}
.contact__section {
  margin: 30px 0;
}
.contact__banner {
  height: 25vh;
  width: 100%;
  filter: brightness(70%);
}
@media screen and (min-width: 992px) {
  .contact__banner {
    height: 40vh;
  }
}
.contact__banner__container {
  position: relative;
}
.contact__banner__h1 {
  position: absolute;
  text-shadow: 1px 0px 1px #217bf4;
  color: #ffffff;
  font-size: 18px;
  top: 80px;
  left: 13%;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .contact__banner__h1 {
    font-size: 24px;
    top: 30%;
    left: 30%;
  }
}
@media screen and (min-width: 992px) {
  .contact__banner__h1 {
    font-size: 30px;
    top: 30%;
    left: 30%;
    width: 550px;
    text-align: center;
  }
}

.banner__form__h1--contact {
  left: 25%;
  top: 25%;
}

.contact__main {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.form label {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 70px;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .form {
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
  .form {
    width: 50%;
  }
}
.form__input {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid lightgray;
  padding-left: 15px;
}
@media screen and (min-width: 992px) {
  .form .submit__label__container {
    width: 30%;
  }
}

.gender-selection {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}

.consent__container {
  width: 100%;
}

.gender-input {
  display: none;
}

.gender-label {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid lightgray;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.gender-input:checked + .gender-label {
  color: #217bf4;
  border: 2px solid #217bf4;
}

.gender-label:hover {
  background-color: #eeeeee;
  color: #217bf4;
}/*# sourceMappingURL=main.css.map */