.carousel {
  margin: 50px 0;
  position: relative;
  @media screen and (min-width: 768px) {
    margin: 100px 0;
  }
  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    margin-bottom: 50px;
    font-size: 20px;
    color: $blue-color;
    &__text {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      @media screen and (min-width: 992px) {
        font-size: 18px;
      }
    }
    &__icon {
      color: $orange-color;

      &__background {
        background-color: #f5f5f5;
        width: 100px;
        height: 100px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }
  }
  &__control {
    background: none;
    color: $orange-color;
    position: absolute;
    top: 50%;
    cursor: pointer;
    &--prev {
      left: 10%;
      @media screen and (min-width: 768px) {
        left: 25%;
      }
    }
    &--next {
      right: 10%;
      @media screen and (min-width: 768px) {
        right: 25%;
      }
    }
  }
}

.active-slide {
  display: flex;
}
.inactive-slide {
  display: none;
}
