* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: unset;

  &:hover {
    text-decoration: underline;
  }
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
button {
  all: unset;
}
ul,
ol {
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

::placeholder {
  color: #ffffff;
  opacity: 1; /* Firefox */
  font-size: 16px;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
}
.bold__item {
  font-weight: bold;
}

p {
  line-height: 1;
}
