.nav {
  padding-left: 20px;
}
.contact {
  &__header {
    padding-top: 20px;
  }
  &__section {
    //page le calo
    margin-bottom: 30px;
  }
  &__banner {
    height: 25vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
    @media screen and (min-width: 992px) {
      height: 35vh;
    }
    &__container {
      position: relative;
    }
    &__h1 {
      position: absolute;
      text-shadow: 1px 0px 1px #217bf4;
      color: #ffffff;
      font-size: 18px;
      top: 30%;
      left: 10%;
      font-weight: 500;
      text-align: center;
      @media screen and (min-width: 768px) {
        font-size: 24px;
        top: 90px;
        left: 25%;
      }
      @media screen and (min-width: 992px) {
        font-size: 30px;
        top: 37%;
        left: 26%;
        width: 550px;
        text-align: center;
      }
      @media screen and (min-width: 1200px) {
        left: 30%;
      }
      @media screen and (min-width: 1400px) {
        left: 33%;
      }
      @media screen and (min-width: 1600px) {
        left: 34%;
      }
      @media screen and (min-width: 1800px) {
        left: 36%;
      }
      @media screen and (min-width: 2000px) {
        left: 38%;
      }
    }
  }
}

.banner__form__h1--contact {
  left: 25%;
  top: 25%;
}
.contact__main {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  margin-top: -30px;
  @media screen and (min-width: 992px) {
    margin-top: 0px;
  }
}

.form label {
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  width: 80%;
  @media screen and (min-width: 768px) {
    width: 60%;
  }
  @media screen and (min-width: 992px) {
    width: 50%;
  }
  &__input {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid lightgray;
    padding-left: 15px;
    &--submit {
      @media screen and (min-width: 768px) {
      }
    }
  }
}
.form .submit__label__container {
  width: 50%;
  @media screen and (min-width: 992px) {
    width: 30%;
  }
}

.gender-selection {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}
.consent__container {
  width: 100%;
}

.gender-input {
  display: none;
}

.gender-label {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid lightgray;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.gender-input:checked + .gender-label {
  color: $blue-color;
  border: 2px solid $blue-color;
}

.gender-label:hover {
  background-color: #eeeeee;
  color: $blue-color;
}

.desired__time {
  &__input {
    margin-bottom: 0;
    width: 100%;
    cursor: pointer;
  }
  &__inputs__container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  &__label {
    @media screen and (min-width: 992px) {
      width: 400px !important;
    }
  }
  &__container {
    width: 100%;
    @media screen and (min-width: 992px) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}
#consentement {
  cursor: pointer;
}
.privacy__policy__link {
  color: black;
  text-decoration: underline;
}
.privacy__policy__p {
  align-self: self-start;
  font-size: 12px;
  @media screen and (min-width: 992px) {
    font-size: 14px;
  }
}
