.main {
  background-color: rgb(255, 254, 253);
}

.comprendre {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    color: $blue-color;
  }
  &__content {
    line-height: 1.4;
  }
  &__image {
    width: 100%;
    object-fit: cover;
    &__container {
      width: 60%;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  min-width: 300px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border: rgb(223, 217, 217) 1px solid;
  box-shadow: 0px 0px 5px rgb(236, 236, 236);
  border-radius: 10px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    color: $blue-color;
    text-align: center;
    margin-bottom: 20px;
  }
  &__content {
    margin-bottom: 20px;
    text-align: center;
  }
}

.publics {
  &__title {
    font-size: 25px;
    color: $blue-color;
    text-align: center;
    position: relative;
  }
}
.underline {
  position: absolute;
  bottom: -8px;
  left: 39%;
  height: 5px;
  width: 25%;
  background-color: $blue-color;
}

.cta-section {
  margin-top: 50px;
  position: relative;
  &__banner {
    width: 100%;
    height: 370px;
    object-fit: cover;
    filter: brightness(55%);
  }
  &__container {
    padding: 30px;
    position: absolute;
    color: white;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      font-weight: 500;
      font-size: 20px;
    }
    &__text {
      font-weight: 500;
      text-shadow: 1px 1px 3px #181818;
      font-size: 16px;
    }
  }
  &__btn {
  }
}
